.UserButtonColor{
  background-color: #308cd9;
}

.MenuColor:hover{
  background-color: white;
}

.Users{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}

