#UserButtonColor{
  background-color: #0b5ed7;
}

#UserButtonColor:hover{
  background-color: #083f91;
}

.MenuColor:hover{
  background-color: white;
}

.Users{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
}

