@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


/* body {
    background-image: url(../assets/Wave.svg);
} */


footer{
    background-color: #FCFBF9;

}

.QuotingLife {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.QuotingLife p {
    text-align: left;
    color: #d4d4d4;
    margin-right: 5rem;
}

h1 {
    color: white;
    font-size: 3em;
    margin-right: 5rem;
}

h3 {
    color: #000000;
    margin-top: 30px;
    font-size: 30px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;  */
    text-align: center; 
}
.Subtitle{

    font-size: 40px;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}


.Home-down {
 margin-top: 100px;   
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: flex-end;
 background-size :auto;
 background-position: center;
 

}

.HomePageContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-color: white;
}


.HomePage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.LoginBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignupPage{
    width: 550px;
    height: 520px;

}

#footerText{
    background-color: transparent;
   
}

img {
    margin-top: -30px;
    border-radius: 50px;
    margin-bottom: 20px;
}


.LoggedInPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1613375920388-f1f70f341f8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.QuotesBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QuotesBlock input{
    height: auto;
    border-radius: 100px;
    border: 3px solid black;
}

.FavouritesBlock input{
    height: auto;
    border-radius: 100px;
    border: 3px solid black;
}

.FavouritesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#QuotesTitle {
    align-items: center;
    text-align: center;
}

.QuotesBlockH1{
    
}