@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


/* body {
    background-image: url(../assets/Wave.svg);
} */


footer{
    background-color: #FCFBF9;

}

.QuotingLife {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.QuotingLife p {
    text-align: left;
    color: #d4d4d4;
    margin-right: 5rem;
}

h1 {
    color: white;
    font-size: 3em;
    margin-right: 5rem;
}

h3 {
    color: #000000;
    margin-top: 30px;
    font-size: 30px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;  */
    text-align: center; 
}
.Subtitle{

    font-size: 40px;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}


.Home-down {
 margin-top: 100px;   
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: flex-end;
 background-size :auto;
 background-position: center;
 

}

.HomePageContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1137%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1138)'%3e%3c/rect%3e%3cpath d='M1488 560L0 560 L0 315.49Q55.54 299.03%2c 72 354.58Q107.2 269.78%2c 192 304.98Q245.75 238.74%2c 312 292.49Q413.88 274.37%2c 432 376.24Q445.04 317.28%2c 504 330.32Q580.55 286.87%2c 624 363.41Q675.43 294.85%2c 744 346.28Q788.97 271.25%2c 864 316.22Q889.06 269.28%2c 936 294.34Q1017.55 255.89%2c 1056 337.44Q1109.86 271.29%2c 1176 325.15Q1258.37 287.52%2c 1296 369.89Q1326.37 328.25%2c 1368 358.62Q1394.29 264.91%2c 1488 291.2z' fill='rgba(62%2c 101%2c 181%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 378.7Q57.66 316.36%2c 120 374.01Q148.75 330.75%2c 192 359.5Q245.75 341.25%2c 264 395Q310.75 369.75%2c 336 416.5Q380.79 389.29%2c 408 434.08Q473.11 379.19%2c 528 444.29Q575.77 372.06%2c 648 419.83Q674.8 374.63%2c 720 401.43Q744.59 354.02%2c 792 378.61Q879.47 346.08%2c 912 433.55Q934.01 383.56%2c 984 405.58Q1026.88 328.47%2c 1104 371.35Q1134.11 329.46%2c 1176 359.56Q1239.46 351.02%2c 1248 414.49Q1300.74 395.23%2c 1320 447.97Q1324.8 380.77%2c 1392 385.57Q1415.9 337.48%2c 1464 361.38z' fill='rgba(40%2c 96%2c 191%2c 1)'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 479.27Q65.14 424.41%2c 120 489.56Q150.92 400.48%2c 240 431.4Q286.76 406.16%2c 312 452.92Q392.62 413.54%2c 432 494.16Q460.54 402.7%2c 552 431.23Q599.55 406.78%2c 624 454.33Q710.34 420.67%2c 744 507.01Q794.09 437.1%2c 864 487.19Q867.96 419.15%2c 936 423.11Q973.93 389.04%2c 1008 426.97Q1084.53 383.5%2c 1128 460.04Q1195.71 407.75%2c 1248 475.46Q1316.8 424.25%2c 1368 493.05Q1412.34 465.39%2c 1440 509.73Q1465.54 415.27%2c 1560 440.81z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 563.12Q29.01 520.13%2c 72 549.14Q126.16 531.3%2c 144 585.46Q192.1 513.56%2c 264 561.66Q268.74 494.4%2c 336 499.14Q376.97 468.11%2c 408 509.08Q473.45 502.53%2c 480 567.99Q504.66 472.65%2c 600 497.31Q666.42 443.74%2c 720 510.16Q813.57 483.74%2c 840 577.31Q888.02 505.33%2c 960 553.34Q971.28 492.62%2c 1032 503.9Q1061.81 461.71%2c 1104 491.52Q1178.61 446.13%2c 1224 520.73Q1283.15 507.88%2c 1296 567.03Q1299.46 498.49%2c 1368 501.94Q1422.49 436.44%2c 1488 490.93z' fill='rgba(180%2c 180%2c 180%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1137'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1138'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(43%2c 125%2c 195%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover
}


.HomePage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.LoginBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignupPage{
    width: 550px;
    height: 520px;

}

#footerText{
    background-color: transparent;
   
}

img {
    margin-top: -30px;
    border-radius: 50px;
    margin-bottom: 20px;
}


.LoggedInPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover  ;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1017)'%3e%3c/rect%3e%3cpath d='M1440 0L1139.8899999999999 0L1440 236.73z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1139.8899999999999 0L1440 236.73L1440 335.35L708.2499999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M708.25 0L1440 335.35L1440 468.13L509.82 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M509.81999999999994 0L1440 468.13L1440 487.56L170.54999999999995 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L503.33 560L0 392.74z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 392.74L503.33 560L885.75 560L0 373.22z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 373.22L885.75 560L1117.78 560L0 157.63000000000002z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 157.63L1117.78 560L1161.54 560L0 86.99z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1017'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.QuotesBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 15vh;
}

.QuotesBlock input{
    height: auto;
    border-radius: 100px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 2.5em 2.5em -0.5em;
    
    
}

.QuotesBlock input:hover {
    border: 3px solid black;
    transform: translateY(-1em);
}

.FavouritesBlock input{
    height: auto;
    border-radius: 100px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 2.5em 2.5em -0.5em;
}

.FavouritesBlock input:hover {
    border: 3px solid black;
    transform: translateY(-1em);
    
}

.FavouritesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15vh;
}



.FavouritesBlock h1{
    margin: auto;
    padding-bottom: 1em;
    font-family: a;
    
}




.LogoutHome{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.LogoutHome p{
    font-size: 35px;
    color: white;
   
}

.LogoutHomeWImg p:hover{
    color: #000000;
}


#QuotesTitle {
    align-items: center;
    text-align: center;
}

#QuotesTitle h1 {
    margin: auto;
    padding-bottom: 1em;
    font-family: a;
    
}

.FavouritesBlock h1:hover{
    color: rgb(0, 0, 0);
}

#QuotesTitle h1:hover{
    color: rgb(0, 0, 0);
}

#HomeLogout {
    background-color: transparent;
    border: 0;
    

}

#NoUnderline{
    text-decoration: none;
}