h2 {
    color: #ffffff;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

#root{
    
}
.myQuotesPage {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    background-color: #ffffff;
    margin: 0;
    
    
}

.Quotes{
    display: flex;
    justify-content: center;
}

.QuoteCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 2em 0;
    position: sticky;
    
}


#me {
    background-color: #0b5ed7;
    color: white;
    font-size: 1.1rem;
    padding: 5px 10px;
    border: 0;
    border-radius: 6px;
    height: 2em;

}

#me:hover{
    background-color: #083f91;
}

.MenuColor {
    
}

.UserList button{
    background-color: #ffffff;
    border: 0;
    border-radius: 28px;
    margin-top: 2em;
    margin-right: 30px; 
    margin-left: 30px;
    font-size: 1.1rem;
    padding: em 0;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}



#QuotesOfTheDay {   
display: flex;
flex-direction: column;
align-items: flex;
border-left: 1px solid #d1d3d4;
padding-left: 40px;
padding-right: 40px;
background-color: #308dd9c1;
margin-top: 0;
width: 30rem;
border-radius: 20px;
width: 30rem;

}

#QuotesOfTheDayCard:hover{
    background-color: #ffffff;
}

#QuotesOfTheDayCard {
text-align: center;
width: 320px;
height: auto;
padding: 10px;
border: 0px solid #2F3336;
border-radius: 5px;
margin: 0 auto;
color: #000000;
margin-bottom: 20px;
background: #f7f9f9;
font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 20px;
}

