 .link {
  text-decoration: none;
}

body {
  margin: 0;
  /* background-image: url(./assets/background.jpg); */
  


}

a {
  list-style: none;
  color: black;
}


select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  border: 0;
  border-radius: 20px;
  background-color: #73d3f3;
}

label {
  width: 200px;
  display: block;
  color: black;
}

input,
textarea {
  width: 350px;
  height: 50px;
  border: 0px;
  background-color:  white;
  color: #080808;
  text-decoration: none;
  border: 0;
  

}

nav {
  background: #515f7d;
  color: #E7E9EA;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.cards {
  
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 480px;
  max-width: 640px;
  min-height: 80px;
  padding: 10px;
  border: 1px solid #2F3336;
  display: flex;
  font-size: 1.1rem;
  line-height: 18px;
  background: #ffffff;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.cards:hover{
  background-color: #dbdbdb;
}

.owner{
  font-weight: bold;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 1em 1.75em;
  text-align: left;
  color: #2F3336;
}

.text {
  justify-content: center;
  text-align: left;
  padding-top: 1em;
  padding-left: 1em;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #2F3336
}
.cards button{
  border-radius: 20px;
  align-self: flex-end;
  padding: 1em 2em;
  width: auto;
  font-size: 12px;
  height: auto;
  border: 0;
  background-color: #ffffff;
}

.QuoteCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditQuotePage,
.SignupPage,
.LoginPage {
  background: white;
  border: 0;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
 
}

.AddQuote {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
::placeholder{
  color: #7e7e7e;
}

.EditQuotePage {
  background-color: rgb(239, 196, 88);
}

.SignupPage,
.LoginPage {
  background-color: #608dd5;
}

.LoginPage {
  background-color: #94a7c8;
}

.EditQuotePage form,
.AddQuote form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.AddQuote button {
  display: block;
}

.UserContainer {
  border-right: 1px solid #d1d3d4;
  height: 100%;
  position: fixed;
  
  
}

.UsersList {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

#LeftList{
  font-weight: bold;
  list-style-type: none;
  padding: 4rem 1rem;
}

#LeftList li button {
  font-size: 1.5em;


  
}

.logos{
  height: 20px;
  
  

}
.SubmitButton{
  border: 0;
  background-color: #308cd9;
  padding: 0 16px 0 16px;
  font-size: 15px;
  border-radius: 15px;
  height: 36px;
  min-height: 36px;
  min-width: 36px;
  font-weight: 700;
  color: #ffffff;
}

